* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

.refresh a {
    color: white;
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    padding: .5rem;
}

body {
    padding: 2rem;
}
