* {
    box-sizing: border-box;
}
h1,
h3 {
    text-align: center;
}
.refresh a {
    text-align: center;
    color: black;
    text-decoration: none;
    border: 2px solid darkgrey;
    background-color: white;
    padding: .5rem;
}
body {
    padding: 2rem;
}